
#root {
    -fx-background-color: transparent;
    -fx-background-radius: 10;

}

#anchor-pane{

}


#app-name {
    -fx-fill: black;
    -fx-font-smoothing-type: lcd;
    /*-fx-effect: dropshadow(three-pass-box, derive(grey, -60%), 2, .3, 0, 4);*/
}

#app-icon {

    -fx-background-image: url("/com/phaze1d/spsupdater/res/default_app_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;

    /*-fx-effect: dropshadow(three-pass-box, derive(grey, -60%), 10, .3, 0, 0);*/

}

.progress-bar > .track{
    -fx-background-radius: 3;
    -fx-background-insets: 1 1 2 1;
    -fx-background-color: rgba(255,255,255,.3);
}

/*noinspection ALL*/
.progress-bar > .bar {

    -fx-background-insets: 1 1 2 1;
    -fx-background-radius: 3;
    -fx-background-color: linear-gradient(
            from 0px .3em to .3em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 30%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}
